@using BTCPayServer.Abstractions.Extensions
@inject BTCPayServer.Services.BTCPayServerEnvironment _env

<footer class="btcpay-footer">
    <div class="container">
        
            Q-Pay 2022
        </div>
    </div>
</footer>
